div {
  font-family: "Esteban", serif;
  display: block;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
  color: #030e12;
  text-align: center;
}

/*Colors Scheme */
/* #5bccf6
#fcde67
#030e12 */
